html ,body{
    color: #1c1e21;
    font-size : 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(white, #D3D8E8);
    height: 100%;
    width: 99%;
    margin:0;
    line-height: 1.34;


}

.email input{
    width: 385px;
    margin-top: 2%;
    color: #606770;
    font-size: 18px;
    padding: 8px 10px;
    border-radius : 5px;
    border: 1px solid #b6bdc9;    

}

.name input{
    color: #606770;
    font-size: 18px;
    padding: 8px 10px;
    width: 172px;
    border-radius : 5px;
    border: 1px solid #b6bdc9;    
}
.name{
    display: inline-table;
}

#birthday{
    color: #90949c; 
    font-size: 16px; 
    margin-bottom: 5px; 
    margin-top : 10px; 
    font-weight: bold;
}
#navbar{
    float: right;
}
table input{
    border-color: #1d2a5b;
    width: 142px;
    padding-bottom: 4px;
    border: 1px solid #4b4f56;
    border-radius: 0;
    padding : 3px;
    background-color: #fff;
    color: #1c1e21;
}

h1{
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 28px;
    padding-top : 20px;
}
h4{
    font-size: 19px;
    font-weight: normal;
    line-height: 1.34px;
    color: #4b4f56;
    font-family : inherit;
}

.navbar{
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    min-height: 42px;
    z-index: 1;
    width: 80%;
    display: inline-block;
    background-color:#4267b2;
    padding: 5px 11%;
    position: fixed;
    margin-bottom: 10%;
}
.logo{
    display:inline-block
    
}
.logo img {
    width: 180px;
    margin-top: 10%;
}
#navbar{
    color: white;
}
#account a{
    color: #9cb4d8;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
}
#button{
    background-color: #4267b2;
    padding: 2px 5px;
    color: white;
    border: 1px solid #4b4f56;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    box-shadow: rgb(59, 89, 158);
}

#descp{
    color: #0e385f;
    font-size: 17px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
#front{
    min-height: 42px;
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 5px 11%;

}
#signup{
    font-size: 19px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    line-height: 126%;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border : 1px solid #606770;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius : 5px;
}
span{
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}
#full{
    display: flex;
    position : absolute;
    padding-top: 6%;
}


select{
    border: 1px solid #ccd0d5;
    color: #1c1e21;
    background-color: #fff;
    margin-right : -5px;
    padding : 1%;
}
.end{
    color: #777;
    font-size: 11px;
    width: 316px;
}
@media(max-width : 600px){
    #full{
        padding-top : 35%;
    }
}